.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.padded {
    padding-left: 32px;
    padding-right: 32px;
}

.back-btn {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    border-radius: 0px;

    padding: 48px;
    padding-top: 8px;
    padding-bottom: 8px;

    text-transform: uppercase;

    background-color: #14274A;

    color: white;

    display: flex;
    width: fit-content !important;
    margin: auto;

    margin-bottom: 32px;
    text-align: center;

}

.delete-btn {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    border-radius: 0px;

    padding: 16px;
    padding-top: 24px;
    padding-bottom: 24px;

    text-transform: uppercase;

    background-color: #A4274A;

    color: white;

}

.content {

    padding: 16px;
    margin: 16px;
    margin-top: 0px;

}

.mat-mdc-dialog-content {
    padding: 24px 42px 0px 42px;
}

.example-high {

    height: 100px;

}

.title {

    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #14274A;

}

.input {

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #14274A;
    width: 20vw;
    margin: auto;
    display: flex;
}

.number-error {
    color: rgb(138, 13, 13);
    font-size: smaller;
}

.image-btn {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 8px;

    height: 100%;
    width: 100%;

    background-color: white;

    color: #14274A;

    border: 1px solid #14274A;

}

.label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #14274A;
}

.register {

    color: #14274A;
    padding: 0px;
    // padding-top: 32px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 14px;

}

.forgot-pass {

    color: #14274A;
    float: right;
    line-height: 20px;
    font-family: 'Montserrat';
    font-size: 14px;
}