<table class="footer">

  <div class="row">
    <div class="col-md-3">
        <button [routerLink]="['../user-database']" class="check-btn">{{"User Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['../rooms-database']" class="check-btn">{{"Room Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['../booking-database']" class="check-btn">{{"Booking Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['../food-database']" class="check-btn">{{"Food Database" | translate}}</button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button [routerLink]="['../announcement-database']" class="check-btn">{{"Announcement Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['../language-database']" class="check-btn">{{"Language Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['../news-database']" class="check-btn">{{"News Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['../order-database']" class="check-btn">{{"Order Database" | translate}}</button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button [routerLink]="['../promo-database']" class="check-btn">{{"Promo-Code Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['../registration-database']" class="check-btn">{{"Registration Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['../services-database']" class="check-btn">{{"Services Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['../stock-database']" class="check-btn">{{"Stock Database" | translate}}</button>
    </div>
</div>

      
</table>
