$color-primary: #14274a;
$font-primary: 'Kulim Park';
$image-path: '../../../../assets/';

.nav {
    background-blend-mode: soft-light;
    background-color: #{$color-primary}7e;
    background-image: url('#{$image-path}hopepage-background.png');
    background-size: cover;
    height: 100%;
}

.nav_title {
    color: white;
    font-family: $font-primary;
    margin: 0px;
    margin-left: 100px;

    &_1 {
        @extend .nav_title;
        font-size: 43px;
        margin-top: 40px;
        text-transform: uppercase;
    }

    &_2 {
        @extend .nav_title;
        font-weight: 400;
        font-size: 130px;
        text-transform: uppercase;
    }

    &_3 {
        @extend .nav_title;
        font-size: 85px;
        font-weight: 200px;
        margin-top: -30px;
        text-transform: uppercase;
    }

    &_4 {
        @extend .nav_title;
        font-size: 30px;
    }
}

.body_title {
    color: $color-primary;
    font-family: $font-primary;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: -6px;
    text-align: center;
}

hr.line {
    background-color: $color-primary;
    height: 2px;
    width: 80%;
}