<div class="nav" [style.backgroundImage]="'url(' + url.getImage('home-main') + ')'">
    <app-nav-bar [transparent]="true"></app-nav-bar>
    <div class="title-container">
        <p class="title-1">{{ 'welcome' | translate }}</p>
        <p class="title-2">{{ 'name1' | translate }}</p>
        <p class="title-3">{{ 'name2' | translate }}</p>
        <p class="title-4">{{'hotel_introduction' | translate }}</p>
    </div>
    <app-quick-availability (result)="filterRooms($event)"
        class="quick-container"></app-quick-availability>
</div>

<div>
    <div>
        <p class="body_title">{{ 'news_feed' | translate }}</p>
        <hr class="line">
    </div>
    <div *ngFor="let news of filtered_news">
        <app-news-list-item [news]="{key: news[0], value: news[1]}"></app-news-list-item>
    </div>
</div>

<div style="margin-top: 20px;">
    <app-footer main_color="#14274a" alt_color="white" font_color="white"></app-footer>
</div>