$color-primary: #14274a;
$font-primary: 'Kulim Park';
$image-path: '../../../../assets/';

.nav {
    background-blend-mode: soft-light;
    background-color: #{$color-primary}7e;
    background-size: cover;
    height: 100%;
    margin-bottom: 7.5%;
}

.quick-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -30%;
}
.title {
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 0px;
}


.title-container {
    margin-left: 128px;
    margin-top: 32px;
}

.title-1 {
    @extend .title;
    font-family: 'Montserrat';
    font-size: 32px;
}

.title-2 {
    @extend .title;
    font-family: 'Kulim Park';
    font-size: 96px;
}

.title-3 {
    @extend .title;
    font-family: 'Kulim Park';
    font-size: 64px;
}

.title-4 {
    @extend .title;
    font-family: 'Kulim Park';
    font-size: 16px;
    text-transform: none;
    padding-top: 0px;
}

.body_title {
    color: $color-primary;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 500;
    margin-bottom: -6px;
    text-align: center;
}

hr.line {
    background-color: $color-primary;
    height: 0.5px;
    width: 80%;
}