<!-- <div class="main">
    <div style="background: #14274A;">
        <img [src]="room?.value?.image_path || '../../../assets/room-1.png'" height="400vh"
            width="100%" style="object-fit: cover;">
            <div style="vertical-align: center; display: flex; flex-direction: column;" >
                <p class="label">{{room?.value?.label}}</p>
            </div>
    </div>


    <table class="footer">
        <tr>
            <td>
                <p class="price">
                    {{formatPrice}}

                </p>
            </td>
            <td>
                <button class="check-btn" (click)="route()">
                    View Details
                </button>
            </td>
            <td>

                <star-rating [showHalfStars]="true" [rating]="room?.value?.rating || 0" staticColor="ok"
                    [readOnly]="true"></star-rating>

            </td>
        </tr>
    </table>


</div> -->

<!-- <div>
    <ion-text class="header">
      {{news.value.title}}
    </ion-text>
  </div>
  
  <div class="image-bg">
    <img src="../../../../assets/rooms-pics/room-sample-pic.png">
  </div>
  
  <div class="body">
    {{news.value.body}}
  </div> -->

  <ion-content style="height: 66vh;">

    <div>
  
  
      <table>
  
        <tr>
          <td colspan="2">
            <h2 class="img-title">{{room?.value?.label}}</h2>
            <div class="image-bg">
            <img src="../../../assets/rooms/room-sample.jpg">
            </div>
          </td>
  
        </tr>
  
  
      </table>
      <!-- <div class="button-container">
  
        <button class="learn-more-button" (click)="openModal()">Learn More</button>
      </div> -->
    </div>
  </ion-content>