$primary-color: var(--ion-color-primary);

.parent {
    color: var(--ion-color-dark);
    display: block;
    font-family: 'Abhaya Libre';
    font-style: normal;
    margin: 0 auto;
    position: relative;
    font-weight: 500;
    text-align: center;
}

.header {
    @extend .parent;
    font-size: 20px;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.body {
    @extend .parent;
    font-size: 13px;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 65%;
}

img {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    transform: translateY(-17%);
}

.explore {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    --color: white;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);

}

.image-bg {
    background-color: $primary-color;
    block-size: fit-content;
    height: fit-content;
    position: relative;
    margin-top: 12%;
}

hr {
    background-color: $primary-color;
    width: 50%;
    margin-bottom: 4%;
}

.main-img {
    width: 200%;
}

.img-title {
    text-align: center;
    font-family: 'Roboto';
}

.sub-imgs {
    padding: 10px;
}

.learn-more-button {
    border-radius: 40px;
    padding: 10px;
    width: 175px;
    height: 50px;
    background-color: #FFFF;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-bg {
    background-color: var(--ion-color-primary);
    block-size: fit-content;
    height: fit-content;
    margin-top: 12%;
}

.price {
    @extend .parent;
    font-size: 15px;
    margin-bottom: 2%;
    text-transform: uppercase;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}