<!-- <ion-content style="height: 66vh;">

  <div>

    <table>

      <tr>
        <td colspan="2">
          <h2 class="img-title">{{room?.value?.label}}</h2>
          <div class="image-bg">
            <img src="../../../assets/rooms/room-sample.jpg">
          </div>
        </td>

      </tr>

    </table>
    <div class="button-container">
  
        <button class="learn-more-button" (click)="openModal()">Learn More</button>
      </div>
  </div>
</ion-content> -->

<div>
  <ion-text class="header">
    {{room?.value?.label}}
  </ion-text>
</div>

<div class="image-bg">
  <img src="../../../assets/rooms/room-sample.jpg">
</div>

<!-- <div class="body">
  {{room?.value?.description}}
</div> -->



<table align="center" style="padding-top: 5%;">
  <tr>
    <td style="padding-right: 100px;">
      <div class="button">
        <ion-button (click)="open_modal.emit()" expand="block" fill="outline" color="#14274A">Explore</ion-button>
      </div>
    </td>

    <td></td>
    <td style="padding-left: 100px;">
      <div class="price">
        {{formatPrice}}
      </div>
    </td>
  </tr>
  <tr>
  </tr>
</table>

<hr>