<!-- <ion-content style="height: 66vh;">

  <div>

    <table>

      <tr>
        <td colspan="2">
          <h2 class="img-title">{{room?.value?.label}}</h2>
          <div class="image-bg">
            <img src="../../../assets/rooms/room-sample.jpg">
          </div>
        </td>

      </tr>

    </table>
    <div class="button-container">
  
        <button class="learn-more-button" (click)="openModal()">Learn More</button>
      </div>
  </div>
</ion-content> -->

<div>
  <ion-text class="header">
    {{room?.value?.label}}
  </ion-text>
</div>

<div class="image-bg">
  <img [src]="room?.value?.images?.at(0)" onerror="this.src='assets/placeholder.png'">
  <ion-button (click)="open_modal.emit()" fill="clear" class="explore">Explore</ion-button>
</div>

<!-- <div class="body">
  {{room?.value?.description}}
</div> -->


<table align="center" style="padding-top: 5%;">
  <tr>
    <td style="padding-right: 30px;">
      <div class="price">
        USD
        <div style="display: inline;" [style.textDecoration]="promo ? 'line-through' : 
                    'none'">{{formatPrice}}</div>
        <div *ngIf="promo" style="display: inline;"> {{formatNewPrice}}</div>

      </div>
    </td>

    <td></td>
    <td style="padding-left: 30px;">
      <div class="rating">
        <ion-rating-stars [filledColor]="'var(' + '--ion-color-primary' + ')'"
          [rating]="room?.value?.rating || 0" [disabled]="true"></ion-rating-stars>
      </div>
    </td>
  </tr>
  <tr>
  </tr>
</table>

<hr>