.selectors {

    font-family: 'Kulim Park';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;

    text-transform: uppercase;
    letter-spacing: 0.07em;

    color: rgba(102, 102, 102, 0.95);

}

.cancel-btn {

    --background: #D6B389;
    width: 150px;

}