<mat-form-field [style.visibility]="invisible_input? 'hidden': 'visible'" appearance="fill">
  <mat-label>{{'date_range' | translate }}</mat-label>
  <mat-date-range-input #picker_range [dateFilter]="filter" [formGroup]="range"
    [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker>

    <mat-datepicker-actions>
      <button mat-button matDatepickerCancel>{{ 'cancel' | translate }}</button>
      <button mat-raised-button color="primary" matDatepickerApply>{{ 'book' | translate }}</button>
    </mat-datepicker-actions>

  </mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">{{ 'invalid_start_date' | translate }}</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">{{ 'invalid_end_date' | translate }}</mat-error>
</mat-form-field>