<div mat-dialog-title>
    <p class="title">{{'sign_up'|translate}}</p>
</div>
<div style="overflow: hidden;" class="content" mat-dialog-content>
    <!-- Fields -->


    <table>
        <tr>
            <td>
                <!-- First Name -->
                <mat-form-field class="full-width input">
                    <mat-label class="label">{{'first_name'|translate}}</mat-label>
                    <input [(ngModel)]="first_name" matInput>
                    
                </mat-form-field>
            </td>
            <td>
                <!-- Last Name -->
                <mat-form-field class="full-width input">
                    <mat-label class="label">{{'last_name'|translate}}</mat-label>
                    <input [(ngModel)]="last_name" matInput>
        
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <!-- Email -->
                <mat-form-field class="full-width input">
                    <mat-label class="label">{{'email'|translate}}</mat-label>
                    <input [(ngModel)]="email" matInput>
                    <div class="number-error" *ngIf="!validated_email">
                        {{'invalid_email'|translate}} </div>
                </mat-form-field>
            </td>
            <td>
                <!-- Date of Birth -->
                <mat-form-field class="full-width input" appearance="fill">
                    <mat-label class="label">{{ 'choose_date' | translate }}</mat-label>
                    <input [(ngModel)]="date_of_birth" matInput [matDatepicker]="picker" readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
            </td>
        </tr>
        <tr>
            <td>
                <!-- Password -->
                <mat-form-field class="full-width input">
                    <mat-label class="label">{{'password'|translate}}</mat-label>
                    <input type="password" [(ngModel)]="password" matInput>
                    <div class="number-error" *ngIf="!validated_password">
                        {{'weak_password'|translate}} </div>
                </mat-form-field>
            </td>
            <td>
                <!-- Confirm Password -->
                <mat-form-field class="full-width input">
                    <mat-label class="label">{{'confirm_password'|translate}}</mat-label>
                    <input type="password" [(ngModel)]="confirm_password" matInput>
                    <div class="number-error" *ngIf="!password_match">
                        {{'password_match'|translate}} </div>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <!-- Phone Number -->
                <mat-form-field class="full-width input">
                    <mat-label class="label">{{'phone_number'|translate}}</mat-label>
                    <input [(ngModel)]="phone_number" matInput>
                </mat-form-field>
            </td>
            <td>
                <!-- Gender -->
                <mat-form-field class="full-width input">
                    <mat-label class="label">{{'gender'|translate}}</mat-label> 
                        <mat-select [(ngModel)]="gender">
                          <mat-option *ngFor="let gender of genders;let i = index" [value]="i">
                            {{gender|translate}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
            </td>
        </tr>
    </table>

  
    <div class="number-error-2" *ngIf="connection_error">
        {{'connection_error'|translate}} 
    </div>
    <div class="number-error-2" *ngIf="used_credentials">
        {{'used_credentials'|translate}} 
    </div>

    <div class="register">
       
        <p>{{'have_account'|translate}}? </p> <p (click)="goToLogin()" style="display: inline; text-decoration: underline; margin-left: 2px;">{{'sign_in'|translate}}</p>
    </div>

</div>
<div mat-dialog-actions>
    <button style="width: 30%;" class="back-btn" (click)="register()"
        [disabled]="!email || !password || !first_name || !last_name || !date_of_birth || !phone_number"
        [style.background]="(!email || !password || !first_name || !last_name || !date_of_birth || !phone_number) ? 'gray' : '#14274A'"
        mat-button color="primary">
        {{'sign_up'|translate}}
    </button>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>