<div style="height: 100%; background: var(--ion-color-light)">
    <ion-img style="position: fixed;" src="../../../../assets/register/header-1.png"></ion-img>
    <div class="labels">


        <ion-text class="title">{{'Verify Email' | translate}}</ion-text>

        <ion-input class="inputs" label="Email" labelPlacement="floating" [(ngModel)]="email"
            class="input"></ion-input>
        <ion-input class="inputs" label="Verification" labelPlacement="floating"
            [(ngModel)]="verification" class="input">
        </ion-input>

        <ion-button (click)="send()" class="register">{{'Send' | translate}}</ion-button>
        <ion-button class="register" (click)="verify()">{{'Verify' | translate}}</ion-button>
        <ion-text class="login" (click)="logout()">{{'Logout' | translate}}</ion-text>
    </div>
</div>