.container {

    transition: all 250ms ease-in-out;
    border-radius: 40px;
    // margin-bottom: 10px;
    width: 90%;
    display: flex;
    position: relative;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);

}

.user-name {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #14274A
}

.burger-btn {

    --background: transparent;
    --background-activated-opacity: 0;
    --background-focused-opacity: 0;
    --ripple-color: transparent;
    --box-shadow: none;
}

.block-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    // padding: 8px 16px;
    // padding: 12px;
    border-radius: 40px;

}

.block-container-active {

    padding: 0px 8px;
    background-color: white;
    width: 100%;
    // height: 100%;


}

.block-container-active2 {

    transition: all 250ms ease-in-out;
    padding: 8px 2px 8px 8px;
    background-color: white;
    width: 100%;
    // height: 100%;


}

.block-container-inactive {

    transition: all 250ms ease-in-out;
    // padding: 6px 0px;
    background-color: transparent;

}

.tab {

    background-color: transparent;
    display: inline-block;


}

.cell {

    padding: 0px 0px;

}


.active-text {

    visibility: visible;

}

.inactive-text {

    visibility: hidden;

}

.text-active {

    transition: all 2500ms ease-in-out;
    margin: 4px;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    /* identical to box height */
    display: inline-block;


    color: #14274A;

}

.image {

    display: inline;
    width: 6vw;

}

.tabs {

    margin: 24px;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    text-transform: uppercase;
    color: #14274A;

}

.bottom {

    margin: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #14274A;



}