<div class="main">

    <app-nav-bar [transparent]="true"></app-nav-bar>
    <mat-progress-bar mode="indeterminate" *ngIf="loading || chat_loading"></mat-progress-bar>

    <table style="background: #00000045;height: 70%; width: 100%;">
        <tr>
            <td [style.visibility]="chat_loading ? 'hidden' : 'visible'" style="vertical-align: top; width: 30%; max-height: 50px;">

                <div style="overflow-y: auto; height: 100%;">

                    <div (click)="routeTo(guest.key)" style="padding: 16px;" *ngFor="let guest of active_guests; let i = index">
                        
                        <p class="chat-last" style="float: right;">{{formatDateString(active_last_messages[i].lastDate)}}</p>
                        <p class="chat-name">{{guest.value.first_name + ' ' + guest.value.last_name}}</p>
                        <p class="chat-last">{{active_last_messages[i].lastMessage}}</p>
                        <mat-divider style="border-color: white;"></mat-divider>
                        
                    </div>
                </div>


            </td>
            <td [style.visibility]="loading || chat_loading ? 'hidden' : 'visible'" style="vertical-align: top; width: 70%">

                <div #container style="height: 90%; overflow-y: scroll">

                    <!-- Title -->
                    <div style="width: 95%; margin: 16px;">

                        <p class="title">{{chat?.user_2?.value?.first_name}}</p>
                        <mat-divider style="background-color: white;"></mat-divider>
                    </div>

                    <!-- Messages -->

                    <table style="margin: 16px; margin-top: 128px; width: 95%;">
                        <ng-container *ngFor="let c of chat?.messages; let i = index">

                            <tr>
                                <td style="height: fit-content;" class="col unselectable">

                                    <!-- Content -->
                                    <div (mouseenter)="hovered_id = i"
                                        (mouseleave)="hovered_id = -1"
                                        [style.border-bottom-left-radius]="bottomLeft(c, i)"
                                        [style.border-top-left-radius]="topLeft(c, i)"
                                        [style.border-bottom-right-radius]="bottomRight(c, i)"
                                        [style.border-top-right-radius]="topRight(c, i)"
                                        [style.float]="c.owner_id == id ? 'left' : 'right'"
                                        [class]="c.owner_id == id ? 'multi sent-message' : 'multi received-message'">

                                        <p [style.fontSize]="isSpecial(c.content) ? '40px' : '14px'" style="margin: 0px;">
                                            {{c.content}}</p>


                                    </div>

                                </td>
                            </tr>

                            <!-- Date -->
                            <tr>

                                <td *ngIf="(i == chat?.messages!.length - 1 || formatDate(chat?.messages![i + 1].date) != formatDate(c.date) || chat?.messages![i + 1].owner_id != c.owner_id)"
                                    class="col" [style.float]="c.owner_id == id ? 'left' : 'right'">
                                    <p [style.color]="hovered_id == i ? 'white' : 'transparent'"
                                        style="margin: 0px;" class="date">
                                        {{formatDate(c.date)}}
                                    </p>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </div>


                <!-- Input -->
                <div [style.visibility]="loading || chat_loading || (id == '0') ? 'hidden' : 'visible'"
                    style="width: 98%; position: relative; margin: 16px; right: 0px; bottom: 0px;">
                    <input (keydown)="keyStroke($event)" placeholder="Type your message..." class="send-area"
                        [(ngModel)]="message">
                    <img [style.visibility]="this.message.trim() ? 'visible' : 'hidden'" class="send" height="70%" style="position: absolute; top: 0; right: 24px;"
                        src="../../../assets/send_icon.png" (click)="postMessage()">
                </div>


            </td>
        </tr>
    </table>
</div>