<div mat-dialog-title>
    <p class="title">{{'verify'|translate}}</p>
</div>
<div style="overflow: hidden;" class="content" mat-dialog-content>
    <!-- Fields -->

    <!-- Email -->
    <mat-form-field class="full-width input">
        <mat-label class="label">{{'email'|translate}}</mat-label>
        <input [(ngModel)]="email" matInput>

        <div class="number-error" *ngIf="!validated_email || invalid_email">
            {{'invalid_email'|translate}} </div>
        <div class="number-error" *ngIf="successful_email">
            {{'sent_email'|translate}} </div>
    </mat-form-field>

    <!-- Verification -->
    <mat-form-field class="full-width input">
        <mat-label class="label">{{'verification'|translate}}</mat-label>
        <input [(ngModel)]="verification" matInput>
        <div class="number-error" *ngIf="invalid_code">
            {{'invalid_code'|translate}} </div>
        <div class="number-error" *ngIf="connection_error">
            {{'connection_error'|translate}} </div>
    </mat-form-field>
    <div class="register">

        <p (click)="logout()"
            style="display: inline; text-decoration: underline; margin-left: 2px; margin-top: 0px;">
            {{'logout'|translate}}</p>
    </div>
</div>
<div mat-dialog-actions>
    <button style="width: 30%;" class="back-btn" (click)="verify()" [disabled]="!email"
        [style.background]="(!email) ? 'gray' : '#14274A'" mat-button color="primary">
        {{'send'|translate}}
    </button>
    <button style="width: 30%;" class="back-btn" (click)="verify2()" [disabled]="!verification"
        [style.background]="(!verification) ? 'gray' : '#14274A'" mat-button color="primary">
        {{'sign_in'|translate}}
    </button>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>