<ion-content>
  <ion-list lines="none" style="margin-top: 5vh;">
    <ion-item style="display: flex; flex-direction: column;font-family: 'Roboto';">
      <ion-icon name="color-palette" slot="start" style="font-size: 24px; color: #14274A;"></ion-icon>
      <div>
        <ion-text style="font-weight: 700; font-size: 18px;">Themes</ion-text>
        <p style="font-size: 14px;color: rgba(23, 17, 17, 0.716);">Change the color and style of the app to your liking with different themes.</p>
      </div>
    </ion-item>
    <hr style="border-bottom: 1px solid rgba(0, 0, 0, 0.605); width: 90%;">
    <ion-item style="display: flex; flex-direction: column;font-family: 'Roboto';">
      <ion-icon name="language" slot="start" style="font-size: 24px; color: #14274A;"></ion-icon>
      <div>
        <ion-text style="font-weight: 700; font-size: 18px;">Languages</ion-text>
        <p style="font-size: 14px;color: rgba(23, 17, 17, 0.716);">Select your preferred language for the app's user interface and content.</p>
      </div>
    </ion-item>
    <hr style="border-bottom: 1px solid rgba(0, 0, 0, 0.605); width: 90%;">
    <ion-item style="display: flex; flex-direction: column;font-family: 'Roboto';">
      <ion-icon name="notifications" slot="start" style="font-size: 24px; color: #14274A;"></ion-icon>
      <div>
        <ion-text style="font-weight: 700; font-size: 18px;">Notifications</ion-text>
        <p style="font-size: 14px;color: rgba(23, 17, 17, 0.716);">Manage your notification settings, including which types of notifications you receive.</p>
      </div>
    </ion-item>
    <hr style="border-bottom: 1px solid rgba(0, 0, 0, 0.605); width: 90%;">
    <ion-item style="display: flex; flex-direction: column;font-family: 'Roboto';">
      <ion-icon name="pricetag" slot="start" style="font-size: 24px; color: #14274A;"></ion-icon>
      <div>
        <ion-text style="font-weight: 700; font-size: 18px;">Promo Code</ion-text>
        <p style="font-size: 14px;color: rgba(23, 17, 17, 0.716);">Enter a promotional code to receive discounts or other special offers.</p>
      </div>
    </ion-item>
    <hr style="border-bottom: 1px solid rgba(0, 0, 0, 0.605); width: 90%;">
    <ion-item style="display: flex; flex-direction: column;font-family: 'Roboto';">
      <ion-icon name="document-text" slot="start" style="font-size: 24px; color: #14274A;"></ion-icon>
      <div>
        <ion-text style="font-weight: 700; font-size: 18px;">Terms of Service</ion-text>
        <p style="font-size: 14px;color: rgba(23, 17, 17, 0.716);">View and agree to the app's terms of service and privacy policy.</p>
      </div>
    </ion-item>
    <hr style="border-bottom: 1px solid rgba(0, 0, 0, 0.605); width: 90%;">
    <ion-item style="display: flex; flex-direction: row;font-family: 'Roboto';">
      <ion-icon name="information-circle" slot="start" style="font-size: 24px; color: #14274A;"></ion-icon>
      <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px;">
        <ion-text style="font-weight: 700; font-size: 18px;">About</ion-text>
        <p style="font-size: 14px;color: rgba(23, 17, 17, 0.716);">Learn more about the app, including version number and developer information.</p>
      </div>
    </ion-item>
    