<table style="padding: 30px;">
    <tr>
        <td class="left_col">
        </td>

        <td style="width: 10px;">
        </td>

        <td class="right_col">
            <div class="header">
                {{title}}
            </div>
            <div class="date">
                {{date}}
            </div>
            <hr class="line">
            <div class="body">
                {{body}}
            </div>
            <P class="likes">
                {{likes}} Likes
            </P>
        </td>
    </tr>
</table>