.mat-mdc-row:hover .mat-mdc-cell {
    background-color: lightgray;
}


th {

    font-family: 'Roboto' !important;
    text-align: center;
    background-color: #14274A !important;
    color: white;
    font-weight: 400;

}
.quick-btn {

    font-family: 'Roboto' !important;
    text-align: center;
    // background-color: #14274A44 !important;
    // color: white !important;
    font-weight: 400;

}

.retry {

    color: #14274A;
    display: inline;
    text-decoration: underline;

}

table {

    width: 100%;

}