<div class="activities-container">
    <div class="pic-container">

        <img class="details-pic" src="../../../../../assets/party.png">
        <h2 class="pic-label">VOID</h2>
    </div>
 
    <div class="activity-info">

        <h2 class="activity-title">Partying</h2>
        <hr style="width: 90%; margin-left: 32px; margin-right: 32px;">

        <h4 class="properties-title">Description:</h4>
        <p class="properties-info"> It is a time to let loose, relax, and have fun with friends, family, or colleagues. Parties can range from small, intimate gatherings to large, extravagant events with music, food, and entertainment.</p>
        <h4 class="properties-title">Date:</h4>  
        <p class="properties-info">Fri 11 January</p>
        <h4 class="properties-total">Fee:</h4>
        <div style="display: flex;">
            <h3 class="properties-price">USD 300</h3>
            <button class="cancel-button">Cancel</button>
        </div>
    </div>
    
</div>