<div style="height: 100%; background: var(--ion-color-light)">
    <ion-img style="position: fixed;" src="../../../../assets/register/header-1.png"></ion-img>
    <div class="labels">


        <ion-text class="title">{{'Change Password' | translate}}</ion-text>
        <ion-input type="password" class="inputs" label="New Password" labelPlacement="floating"
            [(ngModel)]="old_password" class="input"></ion-input>
        <ion-input type="password" class="inputs" label="Confirm Password" labelPlacement="floating"
            [(ngModel)]="new_password" class="input"></ion-input>
        <ion-input type="password" class="inputs" label="Confirm Password" labelPlacement="floating"
            [(ngModel)]="confirm_new_password" class="input"></ion-input>

        <ion-button (click)="reset()" class="register">{{'Send' | translate}}</ion-button>
        <ion-text class="login" [routerLink]="['/profile']">{{'Go Back' | translate}}</ion-text>
    </div>
</div>