$primary-color: #14274A;

.header {
    color: $primary-color;
    display: block;
    font-family: 'Abhaya Libre';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

img {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    transform: translateY(-20%);
}

.image-bg {
    background-color: $primary-color;
    block-size: fit-content;
    height: fit-content;
    margin-top: 12%;
}

.body {
    color: $primary-color;
    display: block;
    font-family: 'Abhaya Light';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    text-align: center;
    width: 65%;
}

.button {
    color: $primary-color;
    display: block;
    font-family: 'Abhaya Light';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    width: fit-content;
    //background-color: $primary-color;
    //shape: 'round';
}


ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
    margin-right: 6px;

    width: 48px;
    height: 48px;

    padding: 4px 0;

    color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
}







.parent {

    color: $primary-color;
    display: block;
    font-family: 'Abhaya Libre';
    font-style: normal;
    position: relative;
    margin-right: 2%;

}

.title {

    @extend .parent;
    font-size: 22px;
    margin-left: 2%;
    text-align: center;

}

.date {

    @extend .parent;
    font-size: 14px;
    margin-left: 2%;
    margin-top: -6%;
    text-align: center;
}

.description {

    @extend .parent;
    font-size: 16px;
    margin-left: 2%;
    text-align: center;

}

.likes {

    @extend .parent;
    font-size: 16px;
    text-align: right;
}

hr {

    background-color: black;
    width: 60%;

}