<div>
  <ion-text class="header">
    {{news.value.title}}
  </ion-text>
</div>

<div class="image-bg">
  <img src="../../../../assets/news-pics/news-sample-pic.png">
</div>

<div class="body">
  {{news.value.body}}
</div>


<table align="right">
  <tr>
    <td>
    </td>
    <td>
      <div (click)="like()" fill="clear" class="likes">
        <ion-icon [name]="news.value.is_liked ? 'heart-outline' : 'heart-dislike-outline'" [style.color]="news.value.is_liked ? '#A4274A' : '#14274A'"></ion-icon>
      </div>
    </td>
    
    <td>
      <div class="likes">
        {{news.value.likes_number}} Likes
      </div>
    </td>
  </tr>
</table>

<div>
  <ion-button (click)="openPopup()" expand="block" fill="outline" color="#14274A">Explore</ion-button>
</div>

<hr>
