<ion-content>
<div class="main">

  

    <table [style.visibility]="loading ? 'hidden' : 'visible'" style="background: #00000045; position: fixed; bottom: 0px; height: 80%; width: 100%;">
        <tr>
            <!-- <td style="width: 30%;">
            </td> -->
            <td style="vertical-align: bottom; width: 70%">

                <div #container style="height: 66%; overflow-y: scroll;">

                    <!-- Title -->
                    <div style="position: absolute; top: 0px; width: 100%; margin: 16px;">

                        <p class="title">{{chat?.user_2?.value?.first_name}}</p>
                      
                    </div>

                    <!-- Messages -->

                    <table style="margin: 16px; width: 95%;">
                        <ng-container *ngFor="let c of chat?.messages; let i = index">

                            <tr>
                                <td style="height: fit-content;" class="col unselectable">

                                    <!-- Content -->
                                    <div (mouseenter)="hovered_id = i"
                                        (mouseleave)="hovered_id = -1"
                                        [style.border-bottom-left-radius]="bottomLeft(c, i)"
                                        [style.border-top-left-radius]="topLeft(c, i)"
                                        [style.border-bottom-right-radius]="bottomRight(c, i)"
                                        [style.border-top-right-radius]="topRight(c, i)"
                                        [style.float]="c.owner_id == id ? 'right' : 'left'"
                                        [class]="c.owner_id == id ? 'multi received-message' : 'multi sent-message'">

                                        <p [style.fontSize]="isSpecial(c.content.trim()) ? '46px' : '16px'" style="margin: 0px;">
                                            {{c.content}}</p>


                                    </div>

                                </td>
                            </tr>

                            <!-- Date -->
                            <tr>

                                <td *ngIf="(i == chat?.messages!.length - 1 || formatDate(chat?.messages![i + 1].date) != formatDate(c.date) || chat?.messages![i + 1].owner_id != c.owner_id)"
                                    class="col" [style.float]="c.owner_id == id ? 'right' : 'left'">
                                    <p [style.color]="hovered_id == i ? 'white' : 'transparent'"
                                        style="margin: 0px;" class="date">
                                        {{formatDate(c.date)}}
                                    </p>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </div>


                <!-- Input -->
                <div
                    style="width: 100%; position: relative; margin: 16px; right: 0px; bottom: 0px;">
                    <input (keydown)="keyStroke($event)" placeholder="Type your message..." class="send-area"
                        [(ngModel)]="message">
                    <img [style.visibility]="this.message.trim() ? 'visible' : 'hidden'" class="send" height="70%" style="position: absolute; top: 0; right: 48px;"
                        src="../../../assets/services-pics/building.png" 
                        (click)="postMessage()">
                </div>


            </td>
        </tr>
    </table>
</div>
</ion-content>