<table class="body_table_properties">
    <tr style="height: 35px;">
    </tr>
    <tr>
        <td class="body_left_col">
            <p class="body_table_header">It all starts at 10:35PM</p>
            <p class="body_table_content">We’ve collaborated with global superstars Tiësto and Tate McRae to
                create the track and music video “10:35”, which is inspired by the essence, energy and
                electricity of Purple Motel.</p>
            <div>
                <button class="button">
                    Learn More
                </button>
                <p class="likes">
                    xx Like
                </p>
            </div>
        </td>
        <td style="width: 30px;">
            <!-- for spacing -->
        </td>
        <td class="body_right_col">
        </td>
    </tr>
</table>