<div class="arrow-up"></div>
<div class="main">
    <table style="table-layout: fixed; width: 100%;">

        <tr>
            <td>
                <div>

                    <p class="content-2">{{ "website_name" | translate }}</p>
                    <p class="content-1">{{ "powered_by" | translate}} {{"team_name" | translate
                        }}<br>{{ "mascot" | translate}}</p>
                </div>
            </td>
            <td>
                <div>
                    <p class="content-1">{{ "about_us" | translate}}</p>
                    <p class="content-1">{{ "terms_conditions" | translate}}</p>
                </div>
            </td>
            <td>
                <img src="../../../assets/facebook-icon.png" width="10px">
                <p style="margin-left: 22px;" class="content-3"><b> Facebook</b></p><br>
                <img src="../../../assets/twitter-icon.png" width="16px">
                <p style="margin-left: 16px;" class="content-3"><b> Twitter</b></p><br>
                <img src="../../../assets/instagram-icon.png" width="16px">
                <p style="margin-left: 16px;" class="content-3"><b> Instagram</b></p>
            </td>
            <td>
                <p class="content-3"><b>Subscribe to our newsletter</b></p><br>
                <br>
                <div class="email-module">
                    <div class="email-input">
                        <b><input class="content-5" placeholder="Email Address"></b>
                    </div>
                    <p class="content-4">
                        <b>Ok</b>
                    </p>
                </div>

            </td>
        </tr>


    </table>

</div>