.main {

    background-color: #14274A;

}

.section {

    width: fit-content;
    display: flex;
    padding: 16px;
    justify-items: center;

}

.title {

    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100px;
    margin: 0px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #FFFFFF;

}


.wrap {

    width: fit-content;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 32px;

}

.wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 32px;
    bottom: 0;
    background-color: rgba(217, 217, 217, 0.3);
    z-index: 1;
}

.wrap img+.content {
    
    z-index: 2;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.content {

    vertical-align: bottom;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #14274A;
}