.restaurant-header {
    background: url('../../../../../assets/restaurant-paris.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #14274A7e;
    background-blend-mode: soft-light;
}

.restaurant-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.restaurant-parag {
    width: 50%;
    align-self: center;
    color: #14274A;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}

.restaurant-title {
    color: #14274A;
    font-weight: 142px;
    font-size: 40px;
    letter-spacing: 0.05em;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}



.title {
    text-transform: uppercase;
    color: white;
    margin: 0;
}

.title-1 {
    @extend .title;
    font-family: 'Kulim Park';
    font-size: 32px;
}

.title-2 {
    @extend .title;
    font-family: 'Kulim Park';
    font-size: 78px;
}

.title-3 {
    @extend .title;
    font-family: 'Kulim Park';
    font-size: 64px;
}

.title-4 {
    @extend .title;
    font-family: 'Kulim Park';
    font-size: 16px;
    font-weight: 550;

}

.title-container {
    margin-left: 128px;
    margin-top: 32px;

}

.menu-button {
    background-color: #14274A;
    color: white;
    margin: 10px;
    padding: 20px;
    width: 250px;
    margin: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.feedback-button {
    background-color: white;
    color: #14274A;
    border-color: white;
    padding: 10px;
    width: 150px;
    margin: 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.chefs-button {
    position: absolute;
    bottom: 5%;
    background-color: white;
    color: #14274A;
    padding: 20px;
    width: 250px;
    font-size: 20px;
    text-transform: uppercase;
}