<div class="main">
    <div style="background: #14274A;">
        <img [src]="room?.value?.image_path || '../../../assets/room-1.png'" height="400vh"
            width="100%" style="object-fit: cover;">
        <p class="label">{{room?.value?.label}}</p>
    </div>


    <table class="footer">
        <tr>
            <td>
                <p class="price">
                    USD {{formatPrice}}

                </p>
            </td>
            <td>
                <button class="check-btn" [routerLink]="'../details/' + room?.key">
                    View Details
                </button>
            </td>
            <td>

                <star-rating [showHalfStars]="true" [rating]="room?.value?.rating || 0" staticColor="ok"
                    [readOnly]="true"></star-rating>

            </td>
        </tr>
    </table>


</div>