<!-- <mat-form-field *ngIf="field.type === 'text'" class="full-width input">
    <mat-label class="label">{{formatLabel(field.key)}}</mat-label>
    <input [disabled]="field.readonly || !modification_rule(this.data)" class="input"
        [(ngModel)]="data[field.key]" matInput>
    <div class="number-error" *ngIf="!uniqueness && field.unique">
        {{ 'unique' | translate }}</div>

</mat-form-field> -->

<!-- Number -->
<!-- <mat-form-field *ngIf="field.type === 'number'" class="full-width input">
    <mat-label class="label">{{formatLabel(field.key)}}</mat-label>
    <input [disabled]="field.readonly || !modification_rule(this.data)" class="input" type="number"
        [(ngModel)]="data[field.key]" matInput>
    <div class="number-error"
        *ngIf="field.condition && data[field.key] ? !field.condition(data[field.key]) : false">
        {{ 'valid_number' | translate }}</div>
    <div class="number-error" *ngIf="!uniqueness && field.unique">
        {{ 'unique' | translate }}</div>
</mat-form-field> -->

<!-- Constraint Text -->
<!-- <mat-form-field *ngIf="field.type === 'digits_string' || field.type === 'positive_digits_string'"
    class="full-width input"
    [color]="data[field.key] && !isNum(data[field.key] + '') ? 'warn' : 'primary'">
    <mat-label class="label">{{formatLabel(field.key)}}</mat-label>
    <input [disabled]="field.readonly || !modification_rule(this.data)"
        [min]="field.type === 'positive_digits_string' ? 0 : -999999" class="input"
        [(ngModel)]="data[field.key]" matInput>
    <div class="number-error" *ngIf="!isNum(data[field.key] + '') && data[field.key]">
        {{ 'valid_number' | translate }}</div>
</mat-form-field> -->

<!-- Selection -->
<!-- <mat-form-field
    *ngIf="!field.choices?.link && field.choices && (field.type === 'selection' || field.type === 'choices')"
    class="full-width input">
    <mat-label class="label">{{formatLabel(field.key)}}</mat-label>
    <mat-select [multiple]="field.type === 'choices'" class="input" [ngModel]="data[field.key]"
        (ngModelChange)="data[field.key]=$event">
        <mat-option [disabled]="field.readonly || !modification_rule(this.data)" class="input"
            *ngFor="let type of field.choices.choices"
            [value]="field.choices.key ? field.choices.key(type) : type[0]">
            {{field.choices.format ? (field.choices.format(type[1])) : (
            field.raw ? type[1] : (type[1] + "" | translate) )}}
        </mat-option> </mat-select>
</mat-form-field> -->

<!-- Linked Selection -->
<!-- <mat-form-field
    *ngIf="field.choices?.link && field.choices && (field.type === 'selection' || field.type === 'choices')"
    class="full-width input">
    <mat-label class="label">{{formatLabel(field.key)}}</mat-label>
    <mat-select [multiple]="field.type === 'choices'" class="input" [ngModel]="data[field.key]"
        (ngModelChange)="data[field.key]=$event">
        <mat-option [disabled]="field.readonly || !modification_rule(this.data)" class="input"
            *ngFor="let type of linked_data | keyvalue"
            [value]="field.choices.key ? field.choices.key([type.key, type.value]) : type.key">
            {{field.choices.format ? field.choices.format(type.value) :
            type.value}}
        </mat-option> </mat-select>
</mat-form-field> -->

<!-- Outer Linked Selection -->
<!-- <mat-form-field
    *ngIf="field.outer_choices && (field.type === 'outer_selection' || field.type === 'outer_choices')"
    class="full-width input">

    <mat-label class="label">{{formatLabel(field.key)}}</mat-label>
    <mat-select *ngIf="outer_data" [multiple]="field.type === 'outer_choices'" class="input"
        [ngModel]="data[field.key]" (ngModelChange)="data[field.key]=$event">
        <mat-option [disabled]="field.readonly || !modification_rule(this.data)" class="input"
            *ngFor="let type of outer_data[field.outer_choices.index!] | keyvalue"
            [value]="field.outer_choices.key ? field.outer_choices.key([type.key, type.value]) : type.key">
            {{formatOuterChoice(field, type)}}
        </mat-option>

    </mat-select>
</mat-form-field> -->

<!-- Date -->
<!-- <mat-form-field *ngIf="field.type === 'date'" class="full-width input" appearance="fill">
    <mat-label class="label">{{ 'choose_date' | translate }}</mat-label>
    <input [ngModel]="data[field.key]" (ngModelChange)="data[field.key]=parseDate($event)" matInput
        [matDatepicker]="picker" readonly>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->

<!-- Checkbox -->
<!-- <mat-form-field class="full-width input" appearance="fill"> -->
<!-- <div style="padding: 16px;" *ngIf="field.type === 'toggle'">

    <p style="display: inline;" class="label">{{ formatLabel(field.key) }}</p>
    <mat-checkbox style="display: inline;" [(ngModel)]="data[field.key]" matInput></mat-checkbox>
</div> -->


<!-- </mat-form-field> -->

<!-- Text -->
<ion-item *ngIf="field.type === 'text'">
    <ion-label class="label" position="floating">{{formatLabel(field.key)}}</ion-label>
    <ion-input [disabled]="field.readonly || !modification_rule(this.data)"
        [(ngModel)]="data[field.key]"></ion-input>
    <div class="number-error" *ngIf="!uniqueness && field.unique">
        {{ 'unique' | translate }}</div>
</ion-item>

<!-- Number -->
<ion-item *ngIf="field.type === 'number'">
    <ion-label class="label" position="floating">{{formatLabel(field.key)}}</ion-label>
    <ion-input [disabled]="field.readonly || !modification_rule(this.data)" type="number"
        [(ngModel)]="data[field.key]"></ion-input>
    <div class="number-error"
        *ngIf="field.condition && data[field.key] ? !field.condition(data[field.key]) : false">
        {{ 'valid_number' | translate }}</div>
    <div class="number-error" *ngIf="!uniqueness && field.unique">
        {{ 'unique' | translate }}</div>
</ion-item>

<!-- Constraint Text -->
<ion-item *ngIf="field.type === 'digits_string' || field.type === 'positive_digits_string'">
    <ion-label class="label" position="floating">{{formatLabel(field.key)}}</ion-label>
    <ion-input [disabled]="field.readonly || !modification_rule(this.data)"
        [min]="field.type === 'positive_digits_string' ? 0 : -999999"
        [(ngModel)]="data[field.key]"></ion-input>
    <div class="number-error" *ngIf="!isNum(data[field.key] + '') && data[field.key]">
        {{ 'valid_number' | translate }}</div>
</ion-item>

<!-- Selection -->
<ion-item
    *ngIf="!field.choices?.link && field.choices && (field.type === 'selection' || field.type === 'choices')">
    <ion-label class="label" position="floating">{{formatLabel(field.key)}}</ion-label>
    <ion-select [multiple]="field.type === 'choices'" [(ngModel)]="data[field.key]">
        <ion-select-option [disabled]="field.readonly || !modification_rule(this.data)"
            *ngFor="let type of field.choices.choices"
            [value]="field.choices.key ? field.choices.key(type) : type[0]">
            {{field.choices.format ? (field.choices.format(type[1])) : (
            field.raw ? type[1] : (type[1] + "" | translate) )}}
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Linked Selection -->
<ion-item
    *ngIf="field.choices?.link && field.choices && (field.type === 'selection' || field.type === 'choices')">
    <ion-label class="label" position="floating">{{formatLabel(field.key)}}</ion-label>
    <ion-select [multiple]="field.type === 'choices'" [(ngModel)]="data[field.key]">
        <ion-select-option [disabled]="field.readonly || !modification_rule(this.data)"
            *ngFor="let type of linked_data | keyvalue"
            [value]="field.choices.key ? field.choices.key([type.key, type.value]) : type.key">
            {{field.choices.format ? field.choices.format(type.value) :
            type.value}}
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Outer Linked Selection -->
<ion-item
    *ngIf="field.outer_choices && (field.type === 'outer_selection' || field.type === 'outer_choices')">
    <ion-label class="label" position="floating">{{formatLabel(field.key)}}</ion-label>
    <ion-select *ngIf="outer_data" [multiple]="field.type === 'outer_choices'"
        [(ngModel)]="data[field.key]">
        <ion-select-option [disabled]="field.readonly || !modification_rule(this.data)"
            *ngFor="let type of outer_data[field.outer_choices.index!] | keyvalue"
            [value]="field.outer_choices.key ? field.outer_choices.key([type.key, type.value]) : type.key">
            {{formatOuterChoice(field, type)}}
        </ion-select-option>
    </ion-select>
</ion-item>

<!-- Date -->
<ion-item *ngIf="field.type === 'date'">
    <ion-label class="label" position="floating">{{ 'choose_date' | translate }}</ion-label>
    <ion-datetime [ngModel]="data[field.key]"
        (ionChange)="updateDate($event)"></ion-datetime>
</ion-item>

<!-- Checkbox -->
<ion-item *ngIf="field.type === 'toggle'">
    <ion-label class="label" position="floating">{{ formatLabel(field.key) }}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="data[field.key]"></ion-checkbox>
</ion-item>