.title {

    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    text-align: center;
    letter-spacing: 0.05em;

    padding-top: 32px;
    
    color: #14274A;
    
}


.quantity_btn {

    display: inline-block;
    width: 10px;
    background-color: white;
    border: 0px;
    padding: 8px;

}

.label {

    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto';
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: start;
    display: inline;
    
}
.mark {
    
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
    padding-bottom: 0px;
    margin-top: 0px;
    text-align: start;
    display: inline;

}

.content {
    
    padding-bottom: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    

    color: #14274A;
}

.padded {

    padding-left: 48px;
    padding-right: 48px;

}


.add-btn {

    font-family: 'Roboto';
    font-style: normal;
    background-color: #14274A;

    font-weight: 400;
    width: 90px;
    font-size: 16px;
    padding: 8px;
    line-height: 25px;
    text-align: center;

    text-transform: uppercase;
    color: white;
    border: 0px solid transparent;
}

.add-btn:hover {

    background-color: lightgray;

}