.main {

    background-color: rgba(var(--ion-color-primary), 55);
    background-blend-mode: soft-light;
    height: 70%;
    position: relative;
}

.title {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 39px;
    text-transform: uppercase;
    color: white;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
}

.modal {

    width: 100%;
    height: 100%;

    --background: #d9d9d9d9;

}

.rooms-header{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--ion-color-dark);
    
}

hr {
    background-color: var(--ion-color-primary);
    width: 80%;
    margin-bottom: 4%;
}