<ion-content style="--background: var(--ion-color-light)">

  <div class="main">
    <p class="title">
      This is it.
    </p>
  </div>

  <h1 class="rooms-header">Rooms and rates</h1>
  <hr>

  <div style="display: flex;">

    <ion-button (click)="openQuick()" class="options">{{ 'Find' | translate }}</ion-button>
    <ion-button class="options">{{ 'Recommend' | translate }}</ion-button>

  </div>
  <br><br>

  <div>
    <div *ngFor="let room of filtered_rooms">
      <app-room-item [promo]="getEffect(room[0], room[1].type)?.value?.change"
        (open_modal)="openModal(room)" [room]="{key: room[0], value: room[1]}"
        [room_type]="room_types.getPair(room[1].type)"></app-room-item>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpened" *ngIf="active_data" class="modal">


    <ng-template>
      <app-room-modal [promo]="getEffect(active_data.key, active_data.value.type)"
        [room_type]="room_types.getPair(active_data.value.type)" [room]="active_data"
        (closeModal)="closeModal($event)"></app-room-modal>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isQuickOpened" class="modal">


    <ng-template>
      <app-quick-availability (closeModal)="closeModal($event)"></app-quick-availability>
    </ng-template>
  </ion-modal>

  <ion-infinite-scroll #scroll (ionInfinite)="ngOnInit()">
    <ion-infinite-scroll-content loadingText="Please wait..."
      loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>