<ion-content>

    <div class="main">
        <p class="title">
            This is it.
        </p>
    </div>

    <h1 class="restaurant-header">Restaurant</h1>
    <hr>
    <div class="container">
        <p class="content-2">

            Indulge in a culinary adventure at our hotel's application restaurant, where each bite is a thrilling
            explosion
            of flavors. Led by a team of skilled chefs, our dining destination will take you on a journey of taste, with
            dishes crafted from the freshest ingredients and innovative techniques.

        </p>
    </div>

    <br>

    <p class="header-2">The Chefs</p>
    <div class="image-bg">
        <div class="image-container">
            <img (click)="chef_dialog.openDialog()" src="../../../../../assets/rooms/chefs2.jpg">
            <div class="overlay-text">Click here to view</div>
        </div>
    </div>

    <h1 class="restaurant-header">Menu</h1>
    <hr>
    <div class="container">
        <p class="content-2">
            The menu changes seasonally to ensure that the ingredients are at the peak of their flavor, and the chefs
            are always experimenting with new techniques and recipes to keep things exciting.
        </p>
    </div>

    <div class="button-container">

        <button class="view-menu-button">View Menu</button>
      </div>
      <div class="button-container">

        <button class="feedback-button">Feedback</button>
      </div>