<div mat-dialog-title>
    <p class="title">{{'sign_in'|translate}}</p>
</div>
<div style="overflow: hidden;" class="content" mat-dialog-content>
    <!-- Fields -->

    <!-- Email -->
    <mat-form-field class="full-width input">
        <mat-label class="label">{{'email'|translate}}</mat-label>
        <input [(ngModel)]="email" matInput>
        <div class="number-error" *ngIf="!validated_email">
            {{'invalid_email'|translate}} </div>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="full-width input">
        <mat-label class="label">{{'password'|translate}}</mat-label>
        <input [(ngModel)]="password" matInput>
        <div class="number-error" *ngIf="!validated_credentials">
            {{'invalid_credentials'|translate}} </div>
        <div class="number-error" *ngIf="connection_error">
            {{'connection_error'|translate}} </div>
    </mat-form-field>
    <a class="forgot-pass">
        {{'forgot_password'|translate}}?
    </a>
    <br>
    <div class="register">
        <p>{{'no_account'|translate}}? {{'sign_up'|translate}}</p>
    </div>
</div>
<div mat-dialog-actions>
    <button style="width: 30%;" class="back-btn" (click)="login()" [disabled]="!email || !password"
        [style.background]="(!email || !password) ? 'gray' : '#14274A'" mat-button color="primary">
        {{'sign_in'|translate}}
    </button>
</div>