.label {

    font-family: 'Abhaya Libre';
    font-style: normal;
    font-size: 16px;
    color: var(--ion-color-primary);

}

.reset-btn {

    font-family: 'Abhaya Libre';
    font-style: normal;
    color: var(--ion-color-light) !important;

    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;

    text-transform: uppercase;

    background: var(--ion-color-primary);
    border-radius: 0px;
    padding-top: auto;

}


.reset-btn:hover {
    
    border: 1px solid #4668a6;
    background: #4668a6;
}