<div mat-dialog-title>
    <p class="title">{{'change_password'|translate}}</p>
</div>
<div style="overflow: hidden;" class="content" mat-dialog-content>
    <!-- Fields -->
    <!-- Old Password -->
    <mat-form-field class="full-width input">
        <mat-label class="label">{{'old_password'|translate}}</mat-label>
        <input [(ngModel)]="oldPassword" matInput type="password">
        <div class="number-error" *ngIf="!validated_old_password">
            {{'invalid_old_password'|translate}}
        </div>
    </mat-form-field>
    <!-- New Password -->
    <mat-form-field class="full-width input">
        <mat-label class="label">{{'new_password'|translate}}</mat-label>
        <input [(ngModel)]="newPassword" matInput type="password">
        <div class="number-error" *ngIf="!validated_new_password">
            {{'invalid_new_password'|translate}}
        </div>
    </mat-form-field>
    <!-- Confirm New Password -->
    <mat-form-field class="full-width input">
        <mat-label class="label">{{'confirm_new_password'|translate}}</mat-label>
        <input [(ngModel)]="confirmPassword" matInput type="password">
        <div class="number-error" *ngIf="!validated_confirm_password">
            {{'passwords_dont_match'|translate}}
        </div>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button style="width: 30%;" class="back-btn" (click)="changePassword()"
        [disabled]="!oldPassword || !newPassword || !confirmPassword"
        [style.background]="(!oldPassword || !newPassword || !confirmPassword) ? 'gray' : '#14274A'" mat-button
        color="primary">
        {{'change_password'|translate}}
    </button>
</div>