<div mat-dialog-title>
    <p class="title">{{'change_password'|translate}}</p>
</div>
<div style="overflow: hidden;" class="content" mat-dialog-content>
    <!-- Fields -->
    <!-- Old Password -->
    <mat-form-field class="full-width input">
        <mat-label class="label">{{'old_password'|translate}}</mat-label>
        <input [(ngModel)]="old_password" matInput type="password">
        <div class="number-error" *ngIf="!validated_old_password">
            {{'invalid_old_password'|translate}}
        </div>
    </mat-form-field>

    <!-- New Password -->
    <mat-form-field class="full-width input">
        <mat-label class="label">{{'password'|translate}}</mat-label>
        <input [(ngModel)]="new_password" matInput>
        <div class="number-error" *ngIf="!validated_new_password">
            {{'weak_password'|translate}} </div>
    </mat-form-field>
    <!-- Confirm New Password -->
    <mat-form-field class="full-width input">
        <mat-label class="label">{{'confirm_password'|translate}}</mat-label>
        <input [(ngModel)]="confirm_new_password" matInput>
        <div class="number-error" *ngIf="!password_match">
            {{'password_match'|translate}} </div>
    </mat-form-field>


    <div mat-dialog-actions>
        <button style="width: 30%;" class="back-btn" (click)="reset()"
            [disabled]="!old_password || !new_password || !confirm_new_password"
            [style.background]="(!old_password || !new_password || !confirm_new_password) ? 'gray' : '#14274A'"
            mat-button color="primary">
            {{'change_password'|translate}}
        </button>
    </div>