<div class="nav" [style.backgroundImage]="'url(' + url.getImage('service-main') + ')'">
    <app-nav-bar [transparent]="true"></app-nav-bar>
    <div class="title-container">
        <p class="title-1">{{ 'welcome' | translate }}</p>
        <p class="title-2">{{ 'name1' | translate }}</p>
        <p class="title-3">{{ 'name2' | translate }}</p>
        <p class="title-4">{{'hotel_introduction' | translate }}</p>
    </div>
</div>
<p class="header">{{ 'activities' | translate }}</p>
<mat-divider style="margin-right: 64px;margin-left: 64px;margin-bottom: 16px; border-top-color: #14274A"></mat-divider>
<p class="sub-header">{{'services_introduction' | translate }} </p>

<!-- <div style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let activity of activities | keyvalue" style="width: 50%;">
        <app-activity-list-item class="item" [activity]="activity"></app-activity-list-item>
        <mat-divider
            style="margin-right: 64px; margin-left: 64px; margin: 16px; border-top-color: #14274a40"></mat-divider>
    </div> -->
<!-- </div> -->
<div style="width:100%">
    <app-carousel [background_color]="'white'" #carousel>
        <ng-container *ngFor="let activity of activities | keyvalue; let i = index">
            <ng-container *carouselItem>
                <app-activity-list-item style="width: 100%; display: flex; position: relative;" [@fadeOut]
                    [activity]="activity"></app-activity-list-item>
            </ng-container>
        </ng-container>
    </app-carousel>
</div>

<p class="header">{{ 'facilities' | translate }}</p>
<mat-divider style="margin-right: 64px;margin-left: 64px;margin-bottom: 16px; border-top-color: #14274A"></mat-divider>
<p class="sub-header">{{ 'facilities_introduction' | translate }} </p>

<div style="width:100%">
    <app-carousel #carousel>
        <ng-container *ngFor="let facility of facilities | keyvalue; let i = index">
            <ng-container *carouselItem>
                <app-facility style="width: 100%; display: flex; position: relative;" [@fadeOut]
                    [facility]="facility"></app-facility>
            </ng-container>
        </ng-container>
    </app-carousel>
</div>
<app-footer main_color="#14274A" [alt_color]="'white'" [font_color]="'white'"></app-footer>