.title-1 {

    font-family: 'Abhaya Libre';
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #14274A;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;

}