
<p class="title-1">
  {{data_injection.title}} {{'database' | translate}}
</p>
<mat-divider class="divider"></mat-divider>

<app-filter [data]="data" [data_injection]="data_injection"
[filtered_data]="filtered_data"></app-filter>


<app-table [outer_data]="outer_data" (download)="download.emit()" [loading]="loading" [data]="data"
[data_injection]="data_injection" [extra_data]="extra_data" [filtered_data]="filtered_data"
(hover)="hover.emit($event)" (modify_click)="displayModify($event)"></app-table>

<button *ngIf="change_injection" class="add-btn" (click)="displayAdd()">{{'add' | translate}}
  {{data_injection.title}}</button>