.title-1 {

    font-family: 'Abhaya Libre';
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #14274A;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;

}

.add-btn {

    font-family: 'Roboto';
    font-style: normal;
    color: white;

    font-weight: 400;
    font-size: 16px;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 25px;
    text-align: center;

    text-transform: uppercase;

    background: #14274A;
    border: 1px solid #14274A;
    position: fixed;
    bottom: 16px;
    // right: 16px;

}