<div>


  <table style="table-layout: fixed;">

    <div [style.background]="'var(' + getColor(activity?.key || '0') + ')'" class="image-bg" *ngIf="(activity?.value?.image?.length || 0) < 3">
      <img class="image" [src]="activity?.value?.image?.at(0)"
        onerror="this.src='assets/placeholder.png'">
    </div>
    <ng-container *ngIf="(activity?.value?.image?.length || 0) >= 3">

      <tr>
        <td colspan="2">
          <h2 class="img-title">{{activity?.value?.title}}</h2>

          <img class="main-img" [src]="activity?.value?.image?.at(0)"
            onerror="this.src='assets/placeholder.png'">
        </td>

      </tr>

      <tr>
        <td>
          <img class="sub-imgs" [src]="activity?.value?.image?.at(1)">
        </td>

        <td>
          <img class="sub-imgs" [src]="activity?.value?.image?.at(2)">
        </td>
      </tr>
    </ng-container>

    <ion-modal *ngIf="active_data" [enterAnimation]="enterAnimation"
      [leaveAnimation]="leaveAnimation" class="modal" [isOpen]="isModalOpen">
      <ng-template>
        <app-profile-modal (closeModal)="closeModal()" [data]="active_data"
          style="height: 100%;"></app-profile-modal>
      </ng-template>
    </ion-modal>

  </table>
  <div class="button-container">

    <button class="learn-more-button" (click)="openModal(formatActivity())">Learn More</button>
  </div>
</div>