<ion-content style="height: 66%;">

  <div>


    <table>

      <tr>
        <td colspan="2">
          <h2 class="img-title">Movie Night</h2>
          <img class="main-img" src="../../../assets/services-pics/movie-night.png">
        </td>

      </tr>

      <tr>
        <td>
          <img class="sub-imgs" src="../../../assets/services-pics/movie-night.png">
        </td>

        <td>
          <img class="sub-imgs" src="../../../assets/services-pics/movie-night.png">
        </td>
      </tr>


    </table>
    <div class="button-container">

      <button class="learn-more-button">Learn More</button>
    </div>
  </div>
</ion-content>