<!-- <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
  <ng-template> -->
    <div class="wrapper">
      <h1 class="title">{{title}}</h1>
      <ion-list lines="none">

        <img src="../../../../assets/news-pics/news-sample-pic.png">

        <div class="date">
          published at {{date}}
        </div>

        <hr>
        
        <div class="description">
          {{body}}
        </div>

        <div class="likes">
          {{likes}} likes
        </div>

      </ion-list>
    </div>
  <!-- </ng-template>
</ion-modal> -->