$primary-color: #14274A;

.header {

  background-blend-mode: soft-light;
  background-color: #{$primary-color}55;
  background-image: url('../../../../assets/home-pics/cropped-hotel.png');
  background-size: 100% 100%;
  height: 58%;

}

.title-parent {
  
  display: block;
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;

}

.title {

  @extend .title-parent;
  color: white;
  font-size: 34px;
  top: 45%;
  
}

.body-title {
  
  @extend .title-parent;
  color: $primary-color;
  font-size: 23px;
  
  // for the horizontal line
  border-bottom: 1px solid $primary-color;
  line-height: 39px;
  margin-bottom: 1rem;
  width: 80%;
