<div class="main" [style.background]="transparent?'transparent':'#14274A'">

    <table style="table-layout: fixed; width: 100%">
        <tr>
            <td style="text-align:start">

                <select (ngModelChange)="updateLanguage($event)" [ngModel]="chosen_language">
                    <option class="title-2" *ngFor="let list of languages | keyvalue"
                        [value]="list.key">
                        {{list.value.code_name}}
                    </option>
                </select>

                <img *ngIf="session_user" (click)="openNotifications()" style="padding-left: 40px;"
                    src="../../../assets/phone-icon.png" width="20vw">

                <a href="mailto:team9.byblos@gmail.com">
                    <img style="padding-left: 48px;" src="../../../assets/message-icon.png"
                        width="20vw">
                </a>
            </td>
            <td style="text-align:center">
                <p class="title-1">
                    {{ "website_name" | translate}}
                </p>
            </td>
            <td style="text-align:end">
                <button *ngIf="extractAnyPermission()" [routerLink]="['/admin']" class="check-btn">
                    {{ "admin_panel" | translate}}
                </button>
                <button *ngIf="session_user" (click)="openSupport()" class="check-btn">
                    {{ "support" | translate}}
                </button>
            </td>
        </tr>
    </table>
    <mat-divider style="border-top-color: white; margin-top: 8px;"></mat-divider>
    <table class="footer">

        <tr>

            <td>
                <a [routerLink]="['/home']" class="title-3">{{"home" | translate}}</a>
            </td>
            <td>
                <a [routerLink]="['/services']" class="title-3">{{"services" | translate}}</a>
            </td>
            <td>
                <a [routerLink]="['/rooms']" class="title-3">{{"rooms" | translate}}</a>
            </td>
            <td>
                <a [routerLink]="['/restaurant']" class="title-3">{{"restaurant" | translate}}</a>
            </td>


        </tr>


    </table>
    <ng-container *ngIf="!hide_auth">

        <div *ngIf="!active" style="margin: -30px; float: right;">
            <p (click)="login()" style="padding-right: 16px;" class="title-4">{{"login" |
                translate}}</p>
            <p (click)="signUp()" style="padding-left: 16px;" class="title-4">{{"sign_up" |
                translate}}</p>
        </div>
        <div *ngIf="active" style="margin: -30px; float: right;">
            <p [routerLink]="'/profile'" style="padding-right: 32px;" class="title-4">{{active}}</p>
        </div>
    </ng-container>
</div>