<ion-modal class="modal" [isOpen]="isModalOpen" [enterAnimation]="enterAnimation"
    [leaveAnimation]="leaveAnimation">
    <ng-template>

        <ion-fab-button (click)="this.isModalOpen = false" class="back-btn">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>

        <div class="container">

            <br><br>
            <ion-text class="header-3">

                {{ 'announcements' | translate }}

            </ion-text>


            <br><br>
            <hr style="border-bottom: 1px solid var(--ion-color-primary);">
            <br>


            <ion-content style="height: 60%; --background: var(--ion-color-light)">


                <ng-container *ngFor="let announcement of announcements | keyvalue; let i = index">


                    <ion-list>

                        <ion-item style="--background: var(--ion-color-light)">

                            <ion-grid>

                                <ion-row>

                                    <ion-col class="label">{{'title' | translate}}:</ion-col>
                                    <ion-col class="label">{{'body' | translate}}:</ion-col>

                                </ion-row>

                                <ion-row>


                                    <ion-col class="mark"> {{announcement.value.label}} </ion-col>
                                    <ion-col class="mark"> {{announcement.value.body}} </ion-col>
                    
                                </ion-row>
                            </ion-grid>

                        </ion-item>

                    </ion-list>

                </ng-container>


            </ion-content>
        </div>
    </ng-template>
</ion-modal>

