<ion-content>

    <div class="header">
        <ion-text class="title">
            {{"This is it." | translate}}
        </ion-text>
    </div>

    <h1 class="activities-header">{{"Activities" | translate}}</h1>

    <div *ngFor="let activity of activities | keyvalue: activity_key; let i = index">
        <app-activities [activity]="{ key: activity.key, value: activity.value }" 
        [title]="activity.value.title" ></app-activities>

    </div>

    <h1 class="activities-header">{{"Facilities" | translate}}</h1>
    <div *ngFor="let facility of facilities | keyvalue: facility_key; let i = index">
        <app-facilities [facility]="facility.value"[title]="facility.value.title"></app-facilities>

    </div>

</ion-content>