<div>
    <table style="table-layout: fixed; width: 100%;">
        <td>
            <button style="margin-left: 16px;" class="back-btn" [mat-dialog-close] mat-button
                color="primary">Go Back
            </button>
        </td>

        <td>
            <p class="title"> {{modification_mode ? 'Modify' : 'Add'}} {{data_type}} </p>
        </td>
        <td> </td>
    </table>
</div>
<div style="overflow: hidden;" class="content" mat-dialog-content>
    <table style="table-layout: fixed; width: 100%;">
        <tr>
            <td class="padded" style="text-align: right; vertical-align: bottom;"
                *ngIf="side_panel != 'empty' || standalone_field">
                <table style="table-layout: fixed">
                    <ng-container *ngIf="side_panel == 'images'">

                        <tr>
                            <td colspan="2">
                                <img width="100%" src="../../../../../assets/room-1.png"
                                    height="100%">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 0px; width: 50%;"> <button
                                    class="image-btn">{{ 'add_picture' | translate }}</button> </td>
                            <td style="padding-left: 0px; width: 50%;"> <button
                                    class="image-btn">{{'remove_picture' | translate}}</button>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="side_panel == 'table' && table">


                        <table mat-table [dataSource]="table.data"
                            style="width: 10%; margin: 32px;">

                            <ng-container *ngFor="let col of table.columns">

                                <ng-container *ngIf="!col || col.type === 'text'"
                                    [matColumnDef]="col.key">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{col.header_alt || formatWord(col.key)}}
                                    </th>

                                    <td class="cell" mat-cell *matCellDef="let element">
                                        <!-- <mat-form-field class="full-width input"> -->
                                        <input [disabled]="!modification_rule(this.data)"
                                            class="input" type="number"
                                            [ngModel]="formatTableData(element, col.key)"
                                            (ngModelChange)="updateData(col.key, element, $event)"
                                            matInput>
                                        <div class="number-error"
                                            *ngIf="!formatTableData(element, col.key)">
                                            {{'valid_number' | translate}} </div>
                                        <!-- </mat-form-field> -->

                                    </td>

                                </ng-container>
                            </ng-container>

                            <ng-container *ngFor="let col of table.columns">

                                <ng-container
                                    *ngIf="col.type === 'selection' && col.outer_link && outer_data"
                                    [matColumnDef]="col.key">
                                    <th mat-header-cell *matHeaderCellDef>
                                        {{col.header_alt || formatWord(col.key)}}
                                    </th>

                                    <td class="cell" mat-cell *matCellDef="let element">

                                        <!-- <mat-form-field class="full-width input"> -->

                                        <mat-select class="input"
                                            [ngModel]="formatTableData(element, col.key)"
                                            (ngModelChange)="updateData(col.key, element, $event)">
                                            <mat-option [disabled]="!modification_rule(this.data)"
                                                class="input"
                                                *ngFor="let type of outer_data[col.outer_link.index]| keyvalue"
                                                [value]="type.key">
                                                {{col.outer_link.format(type)}}
                                            </mat-option>

                                        </mat-select>
                                        <!-- </mat-form-field> -->
                                    </td>

                                </ng-container>
                            </ng-container>


                            <ng-container [matColumnDef]="'buttons'">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{'quick_actions' | translate}} </th>
                                <td class="cell" mat-cell *matCellDef="let element; let i = index"
                                    style="padding-left: 0px;">

                                    <button (click)="deleteData(i)" class="quick-btn"
                                        mat-button>{{'delete' | translate}}</button>

                                </td>
                            </ng-container>


                            <tr mat-header-row
                                *matHeaderRowDef="getDisplayedColumnsKey; sticky: true">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: getDisplayedColumnsKey;">
                            </tr>


                        </table>

                        <button class="back-btn" (click)="pushData()" mat-button>{{'add_entry' |
                            translate}}</button>


                    </ng-container>
                    <ng-container *ngIf="side_panel == 'permissions' && permissions">

                        <table style="table-layout: fixed;">

                            <tr>
                                <td class="permissions"></td>
                                <td class="permissions" *ngFor="let col of permissions?.columns">
                                    {{col | translate}}
                                </td>

                            </tr>

                            <tr *ngFor="let row of permissions?.rows">

                                <td class="permissions">
                                    {{row | translate}}
                                </td>
                                <td class="permissions"
                                    *ngFor="let col of permissions?.columns; let i = index">

                                    <mat-checkbox [disabled]="!modification_rule(this.data)"
                                        (ngModelChange)="debug(i, row, $event)"
                                        [ngModel]="permissions.retrieve(data, row)[i]"
                                        class="example-margin">
                                    </mat-checkbox>


                                </td>

                            </tr>


                        </table>

                    </ng-container>
                    <tr>
                        <td style="width: 100%;" colspan="2">
                            <mat-form-field *ngIf="standalone_field" class="full-width">
                                <mat-label
                                    class="label">{{formatLabel(standalone_field.key)}}</mat-label>
                                <textarea class="input" [(ngModel)]="data[standalone_field.key]"
                                    name="description" matInput></textarea>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="padded" style="text-align: left">

                <!-- Fields -->

                <table style="table-layout: fixed; width: 90%;">

                    <tr *ngFor="let field of fields; let i = index">
                        <td *ngFor="let x of iterator">

                            <app-completion [uniqueness]="uniqueness" *ngIf="fields[x + i * size]" [outer_data]="outer_data"
                                [data]="data" [field]="fields[x + i * size]" [fields]="fields"
                                [linked_data]="linked_data">
                            </app-completion>
                        </td>
                    </tr>
                    <tr *ngFor="let field of static_fields">

                        <td>

                            <!-- Readonly -->
                            <mat-form-field class="full-width input" *ngIf="field.value">
                                <mat-label class="label">{{formatLabel(field.key)}}</mat-label>
                                <input class="input" [value]="field.value(data) || ''" readonly
                                    name="occupancy" matInput>
                            </mat-form-field>

                            <!-- Readonly -->
                            <mat-form-field class="full-width input"
                                *ngIf="!field.value && field.link">
                                <mat-label class="label">{{formatLabel(field.key)}}</mat-label>
                                <input class="input"
                                    [value]="(field.link.format && linked_data.get(data[field.link.value].toString())) ? field.link.format(linked_data.get(data[field.link.value].toString())) : ''"
                                    readonly name="occupancy" matInput>
                            </mat-form-field>

                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div mat-dialog-actions>
    <table style="table-layout: fixed; width: 100%;">
        <tr>
            <td class="padded" style="text-align: right;">
                <button style="width: 30%;" (click)="delete()" class="delete-btn" mat-button
                    color="primary"
                    *ngIf="modification_rule(this.data) && modification_mode">Delete</button>
                <button *ngIf="modification_rule(this.data)" style="width: 30%;" class="back-btn"
                    (click)="modification_mode ? modify() : add()"
                    [disabled]="!fieldsCompleteness || !differenceCheck"
                    [style.background]="(!fieldsCompleteness || !differenceCheck) ? 'gray' : '#14274A'"
                    mat-button color="primary">{{modification_mode ?
                    'Modify' : 'Add'}} {{data_type}}</button>
            </td>
            <td *ngIf="toggle" class="padded" style="text-align: left;"> <button style="width: 30%;"
                    class="back-btn" (click)="triggerToggle()"
                    [style.background]="!data[toggle.key] ? 'gray' : '#14274A'" mat-button
                    color="primary">{{data[toggle.key] ? toggle.on_value :
                    toggle.off_value}}</button> </td>
        </tr>
    </table>
</div>