<div mat-dialog-title class="title padded">

  Cart
  <hr style="border-color: #14274A;">

</div>
<div style="width: 35vw;" class="content padded" mat-dialog-content>
  <table style="width: 100%;">

    <ng-container *ngFor="let food of order?.food; let i = index">

      <tr style="width: 100%;">


        <td>
          <p class="label">Label:</p>
          <p class="mark">
            {{foods.get(food.id)?.label}}
          </p>

          <br>

          <p class="label">Price:</p>
          <p class="mark">
            {{formatPrice(foods.get(food.id)?.price!, food.quantity)}}
          </p>

        <td>

          <button (click)="changeQuantity(-1, i)" class="quantity_btn">-</button>
          <p style="display: inline;" class="content-2">
            {{food.quantity}}
          </p>
          <button (click)="changeQuantity(1, i)" class="quantity_btn">+</button>

        </td>


      </tr>
      <tr>

        <td colspan="2">

          <hr style="margin-top: 24px; width:100%; border-color: #14274A;">
        </td>
      </tr>
    </ng-container>
  </table>
</div>

<div matDialogActions>
  <button class="add-btn" (click)="uploadCart()">Place Order</button>
</div>