.main-img{
    width: 200%;
}

.img-title{
    text-align: center;
    font-family: 'Roboto';
}

.sub-imgs{
    padding: 10px;
}

.learn-more-button{
    border-radius: 40px;
    padding: 10px;
    width: 175px;
    height: 50px;
    background-color: #D6B389;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
 

