<ion-content style="height: 66vh;">

  
  
  <table>
    
    <tr>
      <td colspan="2">
        <h2 class="img-title">{{facility?.title}}</h2>
        <img class="main-img" src="../../../assets/services-pics/gym.png">
      </td>
      
    </tr>
    
    <tr>
      <td>
        <img class="sub-imgs" src="../../../assets/services-pics/gym.png">
      </td>
      
      <td>
        <img class="sub-imgs" src="../../../assets/services-pics/gym.png">
      </td>
    </tr>

    
  </table>
  <div class="button-container">

    <button class="learn-more-button" (click)="openModal()">Learn More</button>
   
  </div>
</ion-content>