<div class="main">
    <table style="width: 30%;">

        <tr>

            <td>

                <h2 class="details-title">{{facility?.value?.title}}</h2>
            </td>
        </tr>
        <tr>
            <td>

                <img class="details-pic" src="../../../../assets/facility-1.png">
            </td>
        </tr>
    </table>

    <div class="facility-info">

        <p class="title-1">{{ 'description' | translate }}</p>
        <mat-divider style="border-top-color: #14274A"></mat-divider>
        <br>
        <p class="content-2">
            {{facility?.value?.description}}
        </p>

    </div>
</div>