.mat-mdc-row:hover .mat-mdc-cell {
    background-color: lightgray;
}


th {

    font-family: 'Roboto' !important;
    text-align: center;
    background-color: #14274A !important;
    color: white;
    font-weight: 400;

}

table {

    width: 100%;

}