.container {

    position: relative;
    top: 25%;
    display: flex;
    background-color: white;
    margin: 0px;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 75%
}

.name {


    padding: 16px 16px 0px 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    line-height: 32px;
    /* identical to box height */


    color: #000000;


}

.promo {

    --font-family: 'Roboto';
    --font-style: normal;
    --font-weight: 400;
    --font-size: 18px;
    --line-height: 12px;

    --color: #14274A;


}

.options {

    --font-family: 'Roboto';
    --background: #14274A;
    --border-radius: 50px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

    margin: 0px 12px;
    width: 50%
}

.order-imgs {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 16px;
    border-radius: 50px;
    overflow-x: auto;
}

.booking-imgs {
    width: 33vw;
    height: 33vw;
    object-fit: cover;

}


ion-segment {

    --border-radius: 0px;
    --border: 0px;
    --background: white;

}

.segment-btn {

    border: 0px;

}

ion-segment-button {

    box-shadow: none;
    --background-focused: transparent;
    --border-radius-focused: 0;
    border: none;
    --indicator-box-shadow: 0;
    transition: all 250ms ease-in-out;
}

.order{
    padding: 2px;
    text-align: center;
    
}
