<ion-content>

    <ion-list>

        <ion-item>

            <ion-card>
                <img alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                    <ion-card-title>{{"User Database" | translate}}</ion-card-title>
                    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                </ion-card-header>

                <ion-card-content>
                    A section to manage the Users currently in the app, including demotion, promotion and permissions.
                </ion-card-content>
                <ion-button fill="clear" [routerLink]="['/admin/user-database']">{{"Access" | translate}}</ion-button>
            </ion-card>
        </ion-item>
        <ion-item>

            <ion-card>
                <img alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                    <ion-card-title>{{"Rooms Database" | translate}}</ion-card-title>
                    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                </ion-card-header>

                <ion-card-content>
                    A section to manage the Users currently in the app, including demotion, promotion and permissions.
                </ion-card-content>
                <ion-button fill="clear"
                    [routerLink]="['/admin/rooms-database']">{{"Access" | translate}}</ion-button>
            </ion-card>
        </ion-item>
        <ion-item>

            <ion-card>
                <img alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                    <ion-card-title>{{"Bookings Database" | translate}}</ion-card-title>
                    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                </ion-card-header>

                <ion-card-content>
                    A section to manage the Users currently in the app, including demotion, promotion and permissions.
                </ion-card-content>
                <ion-button fill="clear"
                    [routerLink]="['/admin/booking-database']">{{"Access" | translate}}</ion-button>
            </ion-card>
        </ion-item>
        <ion-item>

            <ion-card>
                <img alt="Silhouette of mountains"
                    src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                    <ion-card-title>{{"Food Database" | translate}}</ion-card-title>
                    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                </ion-card-header>

                <ion-card-content>
                    A section to manage the Users currently in the app, including demotion, promotion and permissions.
                </ion-card-content>
                <ion-button fill="clear" [routerLink]="['/admin/food-database']">{{"Access" | translate}}</ion-button>
            </ion-card>
        </ion-item>
        <!-- <div class="row">
    <div class="col-md-3">
        <button [routerLink]="['/admin/announcement-database']" class="check-btn">{{"Announcement Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['/admin/language-database']" class="check-btn">{{"Language Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['/admin/news-database']" class="check-btn">{{"News Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['/admin/order-database']" class="check-btn">{{"Order Database" | translate}}</button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button [routerLink]="['/admin/promo-database']" class="check-btn">{{"Promo-Code Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['/admin/registration-database']" class="check-btn">{{"Registration Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['/admin/services-database']" class="check-btn">{{"Services Database" | translate}}</button>
    </div>
    <div class="col-md-3">
        <button [routerLink]="['/admin/stock-database']" class="check-btn">{{"Stock Database" | translate}}</button>
    </div>
</div> -->


        <!-- </table> -->

    </ion-list>
</ion-content>