.bookings-container {
    display: flex;
    background-color: #14274A;

}

.details-title {
    color: white;
    font-weight: 600;
    font-family: 'Robotto';
    font-size: 30px;
    margin: 20px 20px 0px 80px;
}

.details-pic {

    width: 50vw;
    margin: 20px 20px 0px 80px;
    height: 50vh;
    object-fit: cover;
}

.booking-info {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.properties {
    align-self: flex-start;
    margin-left: 32px;
}

.booking-title {
    @extend .properties;
    color: white;
    font-weight: 100;
    font-family: 'Robotto';
    font-size: 40px;
    margin-left: 36px;
    margin-bottom: 0px
    
}


.properties-title {
    @extend .properties;
    color: white;
    margin-bottom: 0px;
    font-weight: 700;
    font-family: 'Montserrat';
    
}

.properties-info {
    @extend .properties;
    font-family: 'Montserrat';
    margin-bottom: 32px;
    font-weight: 400;
    color: white;

}
.properties-main {
    @extend .properties;
    font-family: 'Montserrat';
    font-weight: 400;
    color: white;

}

.properties-total {
    @extend .properties;
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Montserrat';

}

.properties-price {
    @extend .properties;
    color: white;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Robotto';
    margin-top: 0px;

}

.cancel-button {
    color: #14274A;
    width: 200px;
    height: 50px;
    margin-left: 25px;
    font-size: 15px;
    display: inline;
    text-transform: uppercase;
}

.review-button {
    width: 50px;
    background-color: #14274A;
    height: 50px;
    margin-left: 25px;
    font-size: 15px;
    display: inline;
    border: 0px;
    text-transform: uppercase;
}