<div class="bookings-container">
    <table  style="width: 30%;">

        <tr>

            <td>

                <h2 class="details-title">{{room?.label}}</h2>
            </td>
        </tr>
        <tr>
            <td>

                <img class="details-pic" [src]="path">
            </td> 
        </tr>
    </table>

    <div class="booking-info">

        <h2 class="booking-title">{{ 'booking_details' | translate }}</h2>
        <hr style="width: 90%; margin-left: 32px; margin-right: 32px;">

        <h4 class="properties-title">{{ 'date' | translate }}:</h4>
        <p class="properties-info">{{check_in}} / {{end_date}}</p>
        <h4 class="properties-title">{{ 'occupancy' | translate }}:</h4>
        <p class="properties-info">{{formatOccupancy(room_type?.adults_capacity, room_type?.adults_with_kids_capacity, room_type?.kids_capacity)}}</p>
        <h4 class="properties-title">{{ 'price' | translate }}:</h4>
        <p class="properties-info">{{formatPrice(room_type?.price)}}</p>
        
        <h4 class="properties-total">{{ 'total' | translate }}:</h4>
        <div style="display: flex;">
            <h3 class="properties-price">{{formatTotalPrice(room_type?.price)}}</h3>
            <button *ngIf="!room?.is_reviewed" (click)="review.emit(booking_id)" [style.visibility]="exhausted || past ? 'hidden' : 'visible'" class="review-button">
                <mat-icon style="color: white">
                    comment
                </mat-icon>
            </button>
            <button (click)="delete.emit(booking_id)" [style.visibility]="exhausted || past ? 'hidden' : 'visible'" class="cancel-button">Cancel</button>
        </div>
    </div>
</div>